@page
@model GroupOrganizer.Pages.testModel
@{
    ViewData["Title"] = "test";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/groupOrganizer.css">
    <title>Group Organizer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div id="login">
        <h2>Sign In</h2>
        <div class="username" data-validate="Please enter username">
            <input class="input100" type="text" name="username" placeholder="Enter Your Name" id="username">
            <span class="focus-input100"></span>
        </div>

        <div class="container-login100-form-btn">
            <button class="login100-form-btn" id="signIn">
                Sign in
            </button>
        </div>
    </div>
    <div id="main" style="display:none">

        <div class="topnav">
            <div class="topnavContainer">
                <div>
                    <label for="groups">Choose a Group:</label>

                    <select id="groups">
                    </select>
                </div>
            </div>

            <div class="addButton">
                <input type="button" value="Add a Group" id="addGroupBtn">
            </div>
        </div>


        <div class="content" id="content" style="display: none">
            <label id="jsonTest"></label>
            <div class="addItem">
                <input type="button" value="Add an Item" id="addItemBtn">
            </div>

            <div id="itemArea">

                <div class="item">
                    <div class="itemTitle">Diablo</div>
                    <div class="itemItem">rpg</div>
                    <div class="itemItem">coop</div>
                </div>
                <div class="item">
                    <div class="itemTitle">minecraft</div>
                    <div class="itemItem">blocky</div>
                    <div class="itemItem">survival</div>
                </div>

            </div>

        </div>
    </div>

    <div class="footer">
        <p>Footer</p>
    </div>

    <div class="invisBackGroup" id="invisGroup"></div>
        <div class="invisFormGroup" id="addGroupForm">
            <p>Enter new group:</p><input type="text" id="newGroupName" /><br />
            <p id="newGroupMessage"></p>
            <input type="button" id="loadGroupBtn" value="Submit" style="margin-top:5px;" />
        </div>
    

    <div class="invisBackItem" id="invisItem"></div>
    <div class="invisFormItem" id="addItemForm">
        <p>Enter new item:</p><input type="text" id="newItemName" /><br />
        <p id="newItemMessage"></p>
        <input type="button" id="loadItemBtn" value="Submit" style="margin-top:5px;" />
    </div>
    


</body>
</html>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/helpers.js">
    //all return groupOrganizer
    //function newGroupOgranizer()
    //function addGroup(groupOrganizer, groupName)
    //function  addItem(groupOrganizer, groupName, itemName, ownerName)


    //function addText(groupOrganizer, groupName, itemName, userName, newText)
    //add text only if locked first and:
    //modifyingUser = user
    //visibility = no
    //owner = user
    //locked = yes
    //or
    //modifyingUser = user
    //visibility = yes
    //locked = yes

    //function lockItem(groupOrganizer, groupName, itemName,userName) //lock by any user if unlocked
    //function unlockItem(groupOrganizer, groupName, itemName,userName) //modify only by modifying user
    //function makeVisible(groupOrganizer, groupName, itemName, userName) //modify only by owner
    //function makeVisible(groupOrganizer, groupName, itemName, userName) //modify only by owner
</script>
<script>

    //event listener for signin button
    document.getElementById("signIn").addEventListener("click", function (event) {
        var username = document.getElementById("username").value;

        var loginDiv = document.getElementById("login");
        var mainDiv = document.getElementById("main");

        if (username == "") {
            alert("Please enter username.");
            event.preventDefault();
        } else {
            loginDiv.style.display = "none";
            mainDiv.style.display = "block";
        }
    });


    document.getElementById("loadGroupBtn").addEventListener("click", function (event) {
        //verify the newGroup doesn't already exist:
        if (checkGroupExistsDD("groups", document.getElementById("newGroupName").value)) {
            document.getElementById("newGroupMessage").style.color = "red";
            document.getElementById("newGroupMessage").innerHTML = "Value already exists, enter a new one";
        } else {
            //value doesn't not exist add:
            //verify the group box is not empty
            if (!document.getElementById("newGroupName").value == "") {
                //unhide item area:
                var contentDiv = document.getElementById("content");
                if (contentDiv.style.display = "none") {
                    contentDiv.style.display = "block";
                }

                //var contentItem = document.getElementById("itemArea");

                var newGroup = document.getElementById("newGroupName").value;
                var option = document.createElement("option");
                option.textContent = newGroup;
                document.getElementById("groups").appendChild(option);

                document.getElementById("groups").value = option.value;

                GroupOrganizer = addGroup(GroupOrganizer, option.value);
                var jsonString2 = JSON.stringify(GroupOrganizer);
                console.log(jsonString2);

                //hide add group text box
                document.getElementById("invisGroup").style.display = "none";
                document.getElementById("addGroupForm").style.display = "none";

                connection.invoke("SendMessage", user, newGroup).catch(function (err) {
                    return console.error(err.toString());
                });

                event.preventDefault();
            } else {
                //please enter a value message
                document.getElementById("newGroupMessage").style.color = "red";
                document.getElementById("newGroupMessage").innerHTML = "Please enter a value";
            }
        }
    });


    //event listener for submit button for loadItem
    document.getElementById("loadItemBtn").addEventListener("click", function (event) {
        //check that the text field is not empty
        if (!document.getElementById("newItemName").value == "") {
            //check that the item doesn't exist
            if (checkItemExists(document.getElementById("newItemName").value)) {
                //already exists:
                document.getElementById("newItemMessage").style.color = "red";
                document.getElementById("newItemMessage").innerHTML = "Already Exists";
            } else {
                //doesn't exists:
                //gather varibles
                var username = document.getElementById("username").value; //username from text field
                var newItem = document.getElementById("newItemName").value; //itemname from text field
                var group = document.getElementById("groups"); //groups drop down
                var currentGroup = group.options[group.selectedIndex].text //selected item in group drop down


                //new divItem and title
                var divItem = document.createElement("div"); //new divItem
                var divItemTitle = document.createElement("div"); //new divTitle for new item
                divItem.className = "item col-md-4";
                divItemTitle.className = "itemTitle";
                divItemTitle.innerHTML = newItem;
                divItem.appendChild(divItemTitle);


                // creating the visibility checkbox
                var visibleLbl = document.createElement("label");
                visibleLbl.textContent = "Make visible? ";
                var visibleBtn = document.createElement("input");
                visibleBtn.type = "checkbox";

                // adding event listener for visibility checkbox so the user can choose whether the item is visible for other or not.
                visibleBtn.addEventListener("change", function () {
                    if (this.checked) {
                        divItem.style.display = "none";
                    } else {
                        divItem.style.display = "block";
                    }
                });
                divItem.appendChild(visibleLbl);
                divItem.appendChild(visibleBtn);

                var lockBtn = document.createElement("button");
                lockBtn.textContent = "Lock Item?";

                lockBtn.addEventListener("click", function () {
                    var lockedLbl = document.createElement("label");
                    lockedLbl.textContent = "This items is being edited by " + username;

                    divItem.appendChild(lockedLbl);

                    GroupOrganizer = lockItem(GroupOrganizer, "sports", "soccer", username);

                });

                divItem.appendChild(lockBtn);

                // creating the Add Text button for each item
                var addTextBtn = document.createElement("button");
                var textInput = document.createElement("input");
                textInput.type = "text";
                addTextBtn.innerHTML = "Add Text";
                // Adding event listener for Add Text button so the user can add text to the item
                addTextBtn.addEventListener("click", function (event) {
                    var itemText = document.createElement("div");
                    itemText.textContent = textInput.value;
                    divItem.appendChild(itemText);

                    //lock the item so that the user can modify the item:
                    //add the text to the item:
                    GroupOrganizer = addText(GroupOrganizer, currentGroupName, divItemTitle.innerHTML, username, itemText.textContent);
                    //print it out:
                    var jsonString2 = JSON.stringify(GroupOrganizer);
                    console.log(jsonString2);
                });
                divItem.appendChild(textInput);
                divItem.appendChild(addTextBtn);

                //add to the itemArea
                document.getElementById("itemArea").appendChild(divItem);

                GroupOrganizer = addItem(GroupOrganizer, currentGroup, divItemTitle.innerHTML, username);
                //print it out:
                var jsonString2 = JSON.stringify(GroupOrganizer);
                console.log(jsonString2);

                document.getElementById("invisItem").style.display = "none";
                document.getElementById("addItemForm").style.display = "none";
            } //end of if check exists


        } else {
            //text box is empty:
            document.getElementById("newItemMessage").style.color = "red";
            document.getElementById("newItemMessage").innerHTML = "Please enter a value";
        }

        
    });

    document.getElementById("invisItem").addEventListener("click", function (event) {
        document.getElementById("invisItem").style.display = "none";
        document.getElementById("addItemForm").style.display = "none";
    });

    document.getElementById("addItemBtn").addEventListener("click", function (event) {
        var group = document.getElementById("groups");

        if (group.value == "") {
            alert("Please select or add group.");
            event.preventDefault();
        } else {
            document.getElementById("newItemMessage").innerHTML = ""; //empty message text under the textfield
            document.getElementById("newItemName").value = ""; //empty add item text field
            document.getElementById("invisItem").style.display = "block";
            document.getElementById("addItemForm").style.display = "block";
        }


    });



    document.getElementById("invisGroup").addEventListener("click", function (event) {
        document.getElementById("invisGroup").style.display = "none";
        document.getElementById("addGroupForm").style.display = "none";
    });

    document.getElementById("addGroupBtn").addEventListener("click", function (event) {
        document.getElementById("newGroupMessage").innerHTML = ""; //empty message text under the textfield
        document.getElementById("newGroupName").value = ""; //empty add group text field

        //show add group text box:
        document.getElementById("invisGroup").style.display = "block"; 
        document.getElementById("addGroupForm").style.display = "block";
    });



    //var groupOrganizer = [{
    //    groupName: "games",
    //    items: [{
    //        itemName: "diablo",
    //        texts: ["rpg","fun with friends","coop"]
    //    }, {
    //        itemName: "Minecraft",
    //        userName: "Brad",
    //        texts: ["coop","survival"],
    //        }]
    //}, {
    //    groupName: "movies",
    //    items: [{
    //        itemName: "star wars",
    //        texts: ["sci-fy","action"],
    //    }]
    //}]

    //newGroup = {
    //    groupName: "sports",
    //    items: []
    //}

    //newItem = {
    //    itemName: "soccer",
    //    texts:["popular in europe","150 yard field"]
    //}


    //newGroup.items.push(newItem);

    //groupOrganizer.push(newGroup);

    


    //document.writeln(groupOrganizer[0].groupName);
    //document.writeln(groupOrganizer[0].items[0].itemName);
    //document.writeln(groupOrganizer[0].items[0].texts[2]);

    //var jsonString = JSON.stringify(groupOrganizer);


    //var unJSON = JSON.parse(jsonString)


    //document.writeln(jsonString);
    //document.writeln();
    //document.writeln(unJSON.length);

</script>



