@page
@model GroupOrganizer.Pages.testModel
@{
    ViewData["Title"] = "test";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>CSS Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Style the top navigation bar */
        .topnav {
            overflow: hidden;
            background-color: #333;
        }


        .test {
        }


        .topnavContainer {
            display: block;
        }

        /* Style the topnav links */
        .topnav a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .topnav label {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .topnav select, option {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            margin-top: 10px;
            padding: 5px 16px;
            text-decoration: none;
            background-color: #333;
        }

        /* Change color on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .item {
            float: left;
            display: block;
            padding: 10px;
            margin: 10px;
            background-color: #ccc;
            border: 1px solid;
        }

        .itemTitle {
            text-align: center;
            padding: 3px;
            background-color: #bbb;
            border-bottom: 1px solid;
        }

        .itemItem {
            margin: 0 auto;
            width: 100%;
            height: 100%;
            padding: 2px;
        }

        /* Style the content */
        .content {
            background-color: #ddd;
            padding: 10px;
            height: 200px; /* Should be removed. Only for demonstration */
        }

        /* Style the footer */
        .footer {
            background-color: #f1f1f1;
            padding: 10px;
        }

        .addButton {
            float: right;
            display: block;
        }

        .addItem {
            float: left;
            display: block;
            width: 100%;
        }

        .addButton input {
            height: 30px;
            margin-top: 10px;
            margin-right: 10px;
        }

        .invisBackGroup {
            background-color: rgba(0,0,0,0.5);
            width: 100%;
            height: 100%;
            position: fixed;
            display: none;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .invisFormGroup {
            padding: 10px;
            top: 50%;
            left: 50%;
            display: none;
            position: absolute;
            transform: translate(-50%, -50%);
            background-color: black;
            color: white;
            z-index: 2;
        }



        .invisBackItem {
            background-color: rgba(0,0,0,0.5);
            width: 100%;
            height: 100%;
            position: fixed;
            display: none;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .invisFormItem {
            padding: 10px;
            top: 50%;
            left: 50%;
            display: none;
            position: absolute;
            transform: translate(-50%, -50%);
            background-color: black;
            color: white;
            z-index: 2;
        }


    </style>
</head>
<body>

    <div class="topnav">
        <div class="topnavContainer">
            <div>
                <label for="groups">Choose a Group:</label>

                <select id="groups">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </div>
        </div>

        <div class="addButton">
            <input type="button" value="Add a Group" id="addGroupBtn">
        </div>
    </div>



    <div class="content">

        <div class="addItem">
            <input type="button" value="Add an Item" id="addItemBtn">
        </div>

        <div class="item">
            <div class="itemTitle">games</div>
            <div class="itemItem">diablo</div>
            <div class="itemItem">diablo</div>
        </div>
        <div class="item">
            hi2
        </div>

    </div>

    <div class="footer">
        <p>Footer</p>
    </div>

    <div class="invisBackGroup" id="invisGroup"></div>
        <div class="invisFormGroup" id="addGroupForm">
            <p>Enter new group:</p><input type="text" id="newGroupName" /><br />
            <input type="button" id="loadGroupBtn" value="Submit" style="margin-top:5px;" />
        </div>
    

    <div class="invisBackItem" id="invisItem"></div>
        <div class="invisFormItem" id="addItemForm">
            <p>Enter new item:</p><input type="text" id="newItemName" /><br />
            <input type="button" id="loadItemBtn" value="Submit" style="margin-top:5px;" />
        </div>
    


</body>
</html>

<script>

    document.getElementById("loadItemBtn").addEventListener("click", function (event) {
        document.getElementById("invisItem").style.display = "none";
        document.getElementById("addItemForm").style.display = "none";
    });

    document.getElementById("invisItem").addEventListener("click", function (event) {
        document.getElementById("invisItem").style.display = "none";
        document.getElementById("addItemForm").style.display = "none";
    });

    document.getElementById("addItemBtn").addEventListener("click", function (event) {

        newItem = {
            itemName: "soccer",
            texts: ["popular in europe", "150 yard field"]
        }

        newGroup.items.push(newItem);

        document.getElementById("invisItem").style.display = "block";
        document.getElementById("addItemForm").style.display = "block";
    });






    document.getElementById("loadGroupBtn").addEventListener("click", function (event) {
        document.getElementById("invisGroup").style.display = "none";
        document.getElementById("addGroupForm").style.display = "none";
    });

    document.getElementById("invisGroup").addEventListener("click", function (event) {
        document.getElementById("invisGroup").style.display = "none";
        document.getElementById("addGroupForm").style.display = "none";
    });

    document.getElementById("addGroupBtn").addEventListener("click", function (event) {
        document.getElementById("invisGroup").style.display = "block"; 
        document.getElementById("addGroupForm").style.display = "block";
    });
   

    var groupOrganizer = [{
        groupName: "games",
        items: [{
            itemName: "diablo",
            texts: ["rpg","fun with friends","coop"]
        }, {
            itemName: "Minecraft",
            texts: ["coop","survival"],
            }]
    }, {
        groupName: "movies",
        items: [{
            itemName: "star wars",
            texts: ["sci-fy","action"],
        }]
    }]

    newGroup = {
        groupName: "sports",
        items: []
    }

    newItem = {
        itemName: "soccer",
        texts:["popular in europe","150 yard field"]
    }


    newGroup.items.push(newItem);

    groupOrganizer.push(newGroup);

    


    document.writeln(groupOrganizer[0].groupName);
    document.writeln(groupOrganizer[0].items[0].itemName);
    document.writeln(groupOrganizer[0].items[0].texts[2]);

    var jsonString = JSON.stringify(groupOrganizer);

    var unJSON = JSON.parse(jsonString)


    document.writeln(jsonString);
    document.writeln();
    document.writeln(unJSON.length);

</script>



